* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
    
    
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-bottom: 30px;

    
}
hr {
    border: 1px solid #d1d1d1;
}
.section-titel {
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 25px;

   }
/* top players list */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px ;
}
.player {
    display: flex;
    align-items: center;
     
}
.player img{
    width: 56px;
    height: 56px;
    
    
}
.player-name {
    font-size: 18px;
    margin-left: 16px;
}
 /*--------------
  top blog styles
  ----------------------- */

  .blog .thamnail img{
    width: 117px;
    height: 117px;

}

