* {
    
    /* font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
    
    
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
main {
    display: flex;
    flex-direction: column;
    align-items:  center;
}
.section {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
   
}

.container {
   
    width: 870px;
    padding: 30px;
    

    
}
hr {
    border: 1px solid #d1d1d1;
    
}
.section-titel {
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 25px;
    

   }

/* top players list */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px ;
}
.player {
    display: flex;
    align-items: center;
     
}
.player img{
    width: 56px;
    height: 56px;
    
    
}
.player-name {
    font-size: 18px;
    margin-left: 16px;
}



 /*--------------
  top blog styles
  ----------------------- */
.top-blogs {
    
    width: 870px;
    padding: 30px;
    margin-bottom: 30px;
}
#section-title2 {
    margin-top: 0;
}
.bolgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog {
    display: flex;
  }
.blog .thumbnail img{
    width: 117px;
    height: 117px;

}
.blog-info {
    margin-left: 16px;
}
.blog-title {
    font-size: 20px;
    margin-left: 16px;
    

}
.blog-author {
    color: #9f9f9f;
    font-size: 16px;
    margin-left: 16px;
    
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family:Poppins', sans-serif;
    
}
/*----------------
courses styles
-----------------*/
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.courses {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.fa-star {
    font-size: 12px;
}
.fa-star.fielled {
    color: #ffc014;
}
.fa-star.empty {
    color: #aeaeae; 
}
.rate {
    font-weight: 540;
    color: gray;
}
.course-duration {
    background-color:pink ;
    color: rgb(219, 63, 115);
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 700;
    
}
